In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("Data.csv")
display(df1)

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0   NaN     B

In [3]:
df2=pd.read_csv("public-covid-19-cases-canada.csv")

In [4]:
df2=df2.head(25)

In [5]:
df2

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,NaN,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,NaN,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,NaN,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,NaN,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,NaN,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,NaN,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,NaN,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,NaN,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,NaN,(1) https://www.cbc.ca/news/canada/montreal/co...
14,NaN,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,NaN,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,NaN,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,NaN,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,NaN,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,NaN,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,NaN,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,NaN,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,NaN,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,NaN,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,NaN,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,NaN,https://toronto.ctvnews.ca/three-new-cases-of-...

In [6]:
df1.dropna()

  Name    M1    M2    M3    M4    M5     M6    M7 M8
0  Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6  A

In [7]:
df2.dropna()

Empty DataFrame
Columns: [case_id, provincial_case_id, age, sex, health_region, province, country, date_report, report_week, has_travel_history, locally_acquired, case_source]
Index: []

In [8]:
df1.dropna(how="all")

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0   NaN     B

In [9]:
df2.dropna(how="all")

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,NaN,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,NaN,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,NaN,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,NaN,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,NaN,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,NaN,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,NaN,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,NaN,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,NaN,(1) https://www.cbc.ca/news/canada/montreal/co...
14,NaN,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,NaN,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,NaN,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,NaN,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,NaN,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,NaN,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,NaN,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,NaN,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,NaN,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,NaN,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,NaN,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,NaN,https://toronto.ctvnews.ca/three-new-cases-of-...

In [10]:
df2.dropna(how="all",axis=1)

,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,NaN,(1) https://www.cbc.ca/news/canada/montreal/co...
14,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,NaN,https://toronto.ctvnews.ca/three-new-cases-of-...

In [11]:
df1.fillna("Hello")

     Name    M1     M2    M3    M4     M5     M6     M7     M8
0     Ali  35.0     38  38.0  48.0     31  213.0   42.6      A
1   Hello  49.0     34  43.0  30.0  Hello  179.0   35.8   food
2  Cengiz  45.0  Hello  43.0  48.0     23  192.0   38.4      C
3   Ahmad  40.0     32  35.0  45.0     34  194.0   38.8  Hello
4   Eagle  44.0     39  32.0  34.0     49  207.0  Hello      B

In [12]:
df2.fillna("---------")

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,---------,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,---------,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,---------,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,---------,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,---------,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,---------,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,---------,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,---------,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,---------,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,---------,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,---------,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,---------,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,---------,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,---------,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,---------,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,---------,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,---------,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,---------,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,---------,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,---------,(1) https://www.cbc.ca/news/canada/montreal/co...
14,---------,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,---------,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,---------,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,---------,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,---------,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,---------,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,---------,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,---------,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,---------,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,---------,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,---------,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,---------,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,---------,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,---------,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,---------,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,---------,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,---------,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,---------,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,---------,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,---------,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,---------,https://toronto.ctvnews.ca/three-new-cases-of-...

In [13]:
#filling through a dictionary {column name:value to be filled}
df1.fillna({"Name":"Column 0","M1":"Column 1","M2":"Column 2","M3":"Column 3","M4":"Column 4","M5":"Column 5","M6":"Column 6"})

       Name    M1        M2    M3    M4        M5     M6    M7    M8
0       Ali  35.0        38  38.0  48.0        31  213.0  42.6     A
1  Column 0  49.0        34  43.0  30.0  Column 5  179.0  35.8  food
2    Cengiz  45.0  Column 2  43.0  48.0        23  192.0  38.4     C
3     Ahmad  40.0        32  35.0  45.0        34  194.0  38.8   NaN
4     Eagle  44.0        39  32.0  34.0        49  207.0   NaN     B

In [14]:
df2.fillna({"case_id":"++++++++"})

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,++++++++,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,++++++++,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,++++++++,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,++++++++,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,++++++++,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,++++++++,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,++++++++,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,++++++++,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,++++++++,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,++++++++,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,++++++++,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,++++++++,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,++++++++,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,++++++++,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,NaN,(1) https://www.cbc.ca/news/canada/montreal/co...
14,++++++++,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,++++++++,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,++++++++,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,++++++++,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,++++++++,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,++++++++,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,++++++++,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,++++++++,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,++++++++,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,++++++++,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,++++++++,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,NaN,https://toronto.ctvnews.ca/three-new-cases-of-...

In [15]:
df1.fillna(method="ffill")

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     Ali  49.0  34.0  43.0  30.0  31.0  179.0  35.8  food
2  Cengiz  45.0  34.0  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8     C
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0  38.8     B

In [16]:
df1.fillna(method="ffill",axis=1)#to the next column

     Name  M1  M2  M3  M4  M5   M6    M7    M8
0     Ali  35  38  38  48  31  213  42.6     A
1     NaN  49  34  43  30  30  179  35.8  food
2  Cengiz  45  45  43  48  23  192  38.4     C
3   Ahmad  40  32  35  45  34  194  38.8  38.8
4   Eagle  44  39  32  34  49  207   207     B

In [17]:
df1.fillna(method="ffill",axis=1,limit=1)

     Name  M1  M2  M3  M4  M5   M6    M7    M8
0     Ali  35  38  38  48  31  213  42.6     A
1     NaN  49  34  43  30  30  179  35.8  food
2  Cengiz  45  45  43  48  23  192  38.4     C
3   Ahmad  40  32  35  45  34  194  38.8  38.8
4   Eagle  44  39  32  34  49  207   207     B

In [18]:
df2.fillna(method="ffill")

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,NaN,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,NaN,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,Close Contact,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,NaN,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,Close Contact,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,NaN,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,NaN,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,NaN,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,NaN,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,NaN,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,Close Contact,(1) https://www.cbc.ca/news/canada/montreal/co...
14,NaN,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,NaN,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,NaN,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,NaN,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,NaN,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,NaN,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,NaN,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,NaN,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,NaN,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,NaN,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,Close Contact,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,NaN,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,Close Contact,https://toronto.ctvnews.ca/three-new-cases-of-...

In [19]:
df2.fillna(method="ffill",axis=1)

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,t,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,t,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,t,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,t,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,NaN,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,t,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,t,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,NaN,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,t,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,NaN,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,t,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,NaN,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,t,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,NaN,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,t,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,NaN,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,NaN,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,NaN,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,t,(1) https://www.cbc.ca/news/canada/montreal/co...
14,NaN,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,t,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,NaN,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,t,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,NaN,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,t,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,NaN,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,t,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,NaN,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,NaN,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,t,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,NaN,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,t,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,NaN,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,t,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,NaN,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,t,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,NaN,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,t,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,NaN,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,t,https://toronto.ctvnews.ca/three-new-cases-of-...

In [20]:
df2.fillna(method="ffill",limit=3).iloc[:,10]

0               NaN
1               NaN
2               NaN
3               NaN
4     Close Contact
5     Close Contact
6     Close Contact
7     Close Contact
8               NaN
9               NaN
10              NaN
11    Close Contact
12    Close Contact
13    Close Contact
14    Close Contact
15    Close Contact
16              NaN
17              NaN
18    Close Contact
19    Close Contact
20    Close Contact
21    Close Contact
22              NaN
23              NaN
24              NaN
Name: locally_acquired, dtype: object

In [21]:
df1.fillna(method="bfill")

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1  Cengiz  49.0  34.0  43.0  30.0  23.0  179.0  35.8  food
2  Cengiz  45.0  32.0  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8     B
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0   NaN     B

In [22]:
df1.fillna(method="bfill",axis=1)

     Name  M1  M2  M3  M4   M5   M6    M7    M8
0     Ali  35  38  38  48   31  213  42.6     A
1      49  49  34  43  30  179  179  35.8  food
2  Cengiz  45  43  43  48   23  192  38.4     C
3   Ahmad  40  32  35  45   34  194  38.8   NaN
4   Eagle  44  39  32  34   49  207     B     B

In [23]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [24]:
df2.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool

In [25]:
df1.drop_duplicates()

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0   NaN     B

In [26]:
df1.drop_duplicates(["M2","M3"])

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  39.0  32.0  34.0  49.0  207.0   NaN     B

In [27]:
df1.iloc[4,2]=32

In [28]:
df1.drop_duplicates(["M2","M3"])

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  32.0  32.0  34.0  49.0  207.0   NaN     B

In [29]:
df1

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  43.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  32.0  32.0  34.0  49.0  207.0   NaN     B

In [30]:
df1.iloc[2,3]=38

In [31]:
df1.drop_duplicates(["M3","M4"])

    Name    M1    M2    M3    M4    M5     M6    M7    M8
0    Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1    NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
3  Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4  Eagle  44.0  32.0  32.0  34.0  49.0  207.0   NaN     B

In [32]:
import numpy as np
df2.replace(np.nan,"++++++")

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,++++++,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,++++++,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,++++++,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,++++++,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,++++++,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,++++++,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,++++++,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,++++++,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,++++++,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,++++++,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,++++++,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,++++++,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,++++++,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,++++++,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,++++++,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,++++++,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,++++++,(1) https://www.cbc.ca/news/canada/montreal/co...
14,++++++,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,++++++,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,++++++,9,30-39,Female,York,Ontario,Canada,2020-02-29,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,++++++,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,++++++,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,++++++,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,++++++,12,50-59,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,++++++,13,40-49,Male,York,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,++++++,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,++++++,15,70-79,Female,York,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,++++++,16,60-69,Female,York,Ontario,Canada,2020-03-03,2020-03-01,t,++++++,https://toronto.ctvnews.ca/three-new-cases-of-...

In [33]:
df2.replace({np.nan:"++++++","York":"YORK"})

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,++++++,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,++++++,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,++++++,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,++++++,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,++++++,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,++++++,3,30-39,Male,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,++++++,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,++++++,5,30-39,Female,Interior,BC,Canada,2020-02-14,2020-02-09,t,++++++,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,++++++,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,++++++,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,++++++,4,20-29,Female,Toronto,Ontario,Canada,2020-02-23,2020-02-23,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,++++++,5,60-69,Female,Toronto,Ontario,Canada,2020-02-26,2020-02-23,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,++++++,7,40-49,Male,Fraser,BC,Canada,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,++++++,6,60-69,Male,Toronto,Ontario,Canada,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,++++++,1,40-49,Female,Montréal,Quebec,Canada,2020-02-27,2020-02-23,t,++++++,(1) https://www.cbc.ca/news/canada/montreal/co...
14,++++++,7,50-59,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,++++++,8,80-89,Male,Toronto,Ontario,Canada,2020-02-28,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,++++++,9,30-39,Female,YORK,Ontario,Canada,2020-02-29,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,++++++,10,50-59,Female,Durham,Ontario,Canada,2020-02-29,2020-02-23,t,++++++,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,++++++,11,60-69,Male,Durham,Ontario,Canada,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,++++++,8,60-69,Female,Vancouver Coastal,BC,Canada,2020-02-29,2020-02-23,t,++++++,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,++++++,12,50-59,Male,YORK,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,++++++,13,40-49,Male,YORK,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,++++++,14,60-69,Male,Toronto,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,++++++,15,70-79,Female,YORK,Ontario,Canada,2020-03-01,2020-03-01,t,++++++,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,++++++,16,60-69,Female,YORK,Ontario,Canada,2020-03-03,2020-03-01,t,++++++,https://toronto.ctvnews.ca/three-new-cases-of-...

In [34]:
df2.replace(["Male","Canada"],["MALE","CANADA"])

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,MALE,Toronto,Ontario,CANADA,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,CANADA,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,MALE,Vancouver Coastal,BC,CANADA,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,CANADA,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,CANADA,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
5,NaN,3,30-39,MALE,Vancouver Coastal,BC,CANADA,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,CANADA,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
7,NaN,5,30-39,Female,Interior,BC,CANADA,2020-02-14,2020-02-09,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
8,NaN,6,30-39,Female,Fraser,BC,CANADA,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
9,NaN,4,20-29,Female,Toronto,Ontario,CANADA,2020-02-23,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
10,NaN,5,60-69,Female,Toronto,Ontario,CANADA,2020-02-26,2020-02-23,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/02/...
11,NaN,7,40-49,MALE,Fraser,BC,CANADA,2020-02-24,2020-02-23,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0043-0...
12,NaN,6,60-69,MALE,Toronto,Ontario,CANADA,2020-02-27,2020-02-23,f,Close Contact,(1) https://news.ontario.ca/mohltc/en/2020/02/...
13,NaN,1,40-49,Female,Montréal,Quebec,CANADA,2020-02-27,2020-02-23,t,NaN,(1) https://www.cbc.ca/news/canada/montreal/co...
14,NaN,7,50-59,MALE,Toronto,Ontario,CANADA,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
15,NaN,8,80-89,MALE,Toronto,Ontario,CANADA,2020-02-28,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
16,NaN,9,30-39,Female,York,Ontario,CANADA,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
17,NaN,10,50-59,Female,Durham,Ontario,CANADA,2020-02-29,2020-02-23,t,NaN,https://news.ontario.ca/mohltc/en/2020/02/onta...
18,NaN,11,60-69,MALE,Durham,Ontario,CANADA,2020-02-29,2020-02-23,f,Close Contact,https://news.ontario.ca/mohltc/en/2020/02/onta...
19,NaN,8,60-69,Female,Vancouver Coastal,BC,CANADA,2020-02-29,2020-02-23,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0052-0...
20,NaN,12,50-59,MALE,York,Ontario,CANADA,2020-03-01,2020-03-01,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/03/...
21,NaN,13,40-49,MALE,York,Ontario,CANADA,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
22,NaN,14,60-69,MALE,Toronto,Ontario,CANADA,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
23,NaN,15,70-79,Female,York,Ontario,CANADA,2020-03-01,2020-03-01,t,NaN,https://news.ontario.ca/mohltc/en/2020/03/onta...
24,NaN,16,60-69,Female,York,Ontario,CANADA,2020-03-03,2020-03-01,t,NaN,https://toronto.ctvnews.ca/three-new-cases-of-...

In [35]:
df2.describe()

       case_id  provincial_case_id
count      0.0           25.000000
mean       NaN            6.920000
std        NaN            4.581848
min        NaN            1.000000
25%        NaN            3.000000
50%        NaN            6.000000
75%        NaN           10.000000
max        NaN           16.000000

In [36]:
 np.random.randn(1000,4)

array([[-1.49399652,  0.69933413,  0.01997305, -1.86256094],
       [-0.82414604,  0.75350012, -0.7723184 , -0.5522751 ],
       [-0.75524521,  0.58020012,  0.4865731 , -0.66581236],
       ...,
       [-1.38982615,  2.15382825,  0.10832589,  1.12417653],
       [-0.33327662,  0.12643351, -1.45057961,  0.71699627],
       [ 2.62649953, -0.25197396,  0.02928888, -0.72532519]])

In [37]:
df1.describe()

,M1,M2,M3,M4,M5,M6,M7
count,5.000000,4.000000,5.000000,5.00000,4.000000,5.000000,4.00000
mean,42.600000,34.000000,37.200000,41.00000,34.250000,197.000000,38.90000
std,5.319774,2.828427,4.086563,8.42615,10.874282,13.360389,2.80238
min,35.000000,32.000000,32.000000,30.00000,23.000000,179.000000,35.80000
25%,40.000000,32.000000,35.000000,34.00000,29.000000,192.000000,37.75000
50%,44.000000,33.000000,38.000000,45.00000,32.500000,194.000000,38.60000
75%,45.000000,35.000000,38.000000,48.00000,37.750000,207.000000,39.75000
max,49.000000,38.000000,43.000000,48.00000,49.000000,213.000000,42.60000

In [39]:
df1

     Name    M1    M2    M3    M4    M5     M6    M7    M8
0     Ali  35.0  38.0  38.0  48.0  31.0  213.0  42.6     A
1     NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
2  Cengiz  45.0   NaN  38.0  48.0  23.0  192.0  38.4     C
3   Ahmad  40.0  32.0  35.0  45.0  34.0  194.0  38.8   NaN
4   Eagle  44.0  32.0  32.0  34.0  49.0  207.0   NaN     B

In [38]:
df2.describe()

       case_id  provincial_case_id
count      0.0           25.000000
mean       NaN            6.920000
std        NaN            4.581848
min        NaN            1.000000
25%        NaN            3.000000
50%        NaN            6.000000
75%        NaN           10.000000
max        NaN           16.000000

In [61]:
f3=df1["M3"]

In [62]:
f3[(f3<=33)]

4    32.0
Name: M3, dtype: float64

In [72]:
outliers=df1[(df1["M4"]<=35)]

In [73]:
outliers

    Name    M1    M2    M3    M4    M5     M6    M7    M8
1    NaN  49.0  34.0  43.0  30.0   NaN  179.0  35.8  food
4  Eagle  44.0  32.0  32.0  34.0  49.0  207.0   NaN     B

In [76]:
ou=df1.iloc[0:5,1:8]

In [77]:
ou

     M1    M2    M3    M4    M5     M6    M7
0  35.0  38.0  38.0  48.0  31.0  213.0  42.6
1  49.0  34.0  43.0  30.0   NaN  179.0  35.8
2  45.0   NaN  38.0  48.0  23.0  192.0  38.4
3  40.0  32.0  35.0  45.0  34.0  194.0  38.8
4  44.0  32.0  32.0  34.0  49.0  207.0   NaN

In [79]:
ou<35

      M1     M2     M3     M4     M5     M6     M7
0  False  False  False  False   True  False  False
1  False   True  False   True  False  False  False
2  False  False  False  False   True  False  False
3  False   True  False  False   True  False  False
4  False   True   True   True  False  False  False

In [83]:
out=ou[(ou<35).any(1)]

In [84]:
out

     M1    M2    M3    M4    M5     M6    M7
0  35.0  38.0  38.0  48.0  31.0  213.0  42.6
1  49.0  34.0  43.0  30.0   NaN  179.0  35.8
2  45.0   NaN  38.0  48.0  23.0  192.0  38.4
3  40.0  32.0  35.0  45.0  34.0  194.0  38.8
4  44.0  32.0  32.0  34.0  49.0  207.0   NaN

In [85]:
out=ou[(ou<35).any(0)]

D:\Genral Softwares\New folder\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [86]:
sampler=np.random.permutation(8)

In [87]:
sampler

array([7, 3, 4, 5, 1, 0, 2, 6])

In [103]:
df1.columns=(list("123456789"))

In [112]:
gf1=np.random.randint(0,1000,(10,10))

In [113]:
gf1

array([[576, 438, 924, 277, 856, 102, 794, 662, 399, 100],
       [318, 189, 423, 852, 432, 568, 108,  38, 504, 939],
       [900, 949, 572, 738, 646, 735, 448, 764, 715, 162],
       [720, 834, 640, 131, 662, 405, 978, 357,  93, 855],
       [280, 195, 213, 788, 890, 904, 768, 561, 279, 520],
       [349, 904, 830, 365, 691, 520, 440, 649, 820, 585],
       [244, 579, 562, 893,  44,  97, 547, 313, 361,  29],
       [451, 707, 304, 511, 392, 571, 340, 185,   3, 740],
       [710, 429, 107, 737, 955, 524, 117,  84, 740, 277],
       [729,  98, 841, 592, 285, 578, 450,  59, 755, 844]])

In [114]:
gf1=pd.DataFrame(gf1)

In [115]:
gf1[sampler]

     7    3    4    5    1    0    2    6
0  662  277  856  102  438  576  924  794
1   38  852  432  568  189  318  423  108
2  764  738  646  735  949  900  572  448
3  357  131  662  405  834  720  640  978
4  561  788  890  904  195  280  213  768
5  649  365  691  520  904  349  830  440
6  313  893   44   97  579  244  562  547
7  185  511  392  571  707  451  304  340
8   84  737  955  524  429  710  107  117
9   59  592  285  578   98  729  841  450

In [116]:
gf1.describe()

,0,1,2,3,4,5,6,7,8,9
count,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000
mean,527.700000,532.200000,541.600000,588.40000,585.300000,500.400000,499.00000,367.200000,466.900000,505.100000
std,229.808157,311.863503,278.376723,260.05649,292.040732,250.555472,283.56853,275.101517,288.931153,341.216924
min,244.000000,98.000000,107.000000,131.00000,44.000000,97.000000,108.00000,38.000000,3.000000,29.000000
25%,325.750000,253.500000,333.750000,401.50000,402.000000,433.750000,365.00000,109.250000,299.500000,190.750000
50%,513.500000,508.500000,567.000000,664.50000,654.000000,546.000000,449.00000,335.000000,451.500000,552.500000
75%,717.500000,802.250000,782.500000,775.50000,814.750000,576.250000,712.75000,627.000000,733.750000,818.000000
max,900.000000,949.000000,924.000000,893.00000,955.000000,904.000000,978.00000,764.000000,820.000000,939.000000

In [118]:
gf1.take(sampler)

     0    1    2    3    4    5    6    7    8    9
7  451  707  304  511  392  571  340  185    3  740
3  720  834  640  131  662  405  978  357   93  855
4  280  195  213  788  890  904  768  561  279  520
5  349  904  830  365  691  520  440  649  820  585
1  318  189  423  852  432  568  108   38  504  939
0  576  438  924  277  856  102  794  662  399  100
2  900  949  572  738  646  735  448  764  715  162
6  244  579  562  893   44   97  547  313  361   29